<header>
  <div class="container text-center">
    <h2>School Management System</h2>
  </div>
  <nav
    class="navbar bg-dark navbar-expand-lg bg-body-tertiary"
    data-bs-theme="dark"
  >
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link fs-5" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5" href="/students">Students</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5" href="/classes">Classes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5" href="/teachers">Teachers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5" href="/subjects">Subjects</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
