<!DOCTYPE html>
<html lang="en">
  <head>
    <!---meta data and linking third party libs -->
   <%- include('../partials/head') %> 
  </head>
  <body>
    <!---header -->
    <%- include('../partials/header') %>
    <!---for showing any error-->
    <%- include('../partials/errorMessage') %> 
    <!---body---->
    <%- body %>
    <!----footer---->
    <footer class="text-center mx-3 mt-5">
      <p class="p-4````````````````````````````````">MADE WITH ❤️ BY PIYUSH CHAUHAN</p>
    </footer>
  </body>
</html>
