<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Class</th>
      <th scope="col">Roll No</th>
    </tr>
  </thead>
  <tbody>
    <% students.forEach(student => { %>
      <tr>
        <td><%= student.name %> </td>
        <td><%= student.class %> </td>
        <td><%= student.roll_no %> </td>
      </tr>
    <% }); %> 
  </tbody>
</table>