<div class="container-fluid position-relative">
  <img class="img-fluid opacity-75" src="images/homepage.jpg" alt="">
  <div class="position-absolute top-50 start-50 translate-middle bg-light">
    <h2>Welcome to School Management System !</h2>
  </div>
</div>
