<h3 class="text-center mt-5">Add Student Details</h3>

<div class="container mt-3">
<form action="/students" method="post">
<div class="form-floating mb-3">
  <input type="text" class="form-control" name="name" id="name" placeholder="Name..." required>
  <label for="name">Name</label>
</div>
<div class="form-floating mb-3">
  <input type="text" class="form-control" name="rollNo" id="rollNo" placeholder="Roll No." required>
  <label for="rollNo">Roll No.</label>
</div>
<div class="form-floating mb-3">
  <input type="text" class="form-control" name="class" id="class" placeholder="Class" required>
  <label for="class">Class</label>
</div>
<div class="form-floating mb-3">
  <input type="text" class="form-control" name="age" id="age" placeholder="Age" required>
  <label for="age">Age</label>
</div>
<div class="form-floating mb-3">
  <input type="text" class="form-control" name="gender" id="gender" placeholder="Gender" required>
  <label for="gender">Gender</label>
</div>
<div class="form-floating mb-3">
  <input type="text" class="form-control" name="grade" id="grade" placeholder="Grade" required>
  <label for="grade">Grade</label>
</div>
  <div class="form-floating mb-3">
    <button type="submit" class="form-control btn btn-dark p-0">SUBMIT</button>
  </div>
</form>
</div>
